################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordNetCommon/obj/Debug
/WordNetCommon/bin/Debug
